altair==4.2.0
asgiref==3.5.0
astor==0.8.1
astunparse==1.6.3
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.10.0
blinker==1.4
bokeh==2.4.2
bs4==0.0.1
cachetools==5.0.0
certifi==2021.10.8
cftime==1.6.0
charset-normalizer==2.0.12
click==8.0.4
clifford==1.4.0
cycler==0.11.0
Django==4.0.3
django-crispy-forms==1.14.0
djangorestframework==3.13.1
entrypoints==0.3
fonttools==4.30.0
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-pasta==0.2.0
h5py==3.6.0
hmmlearn==0.2.5
idna==3.3
include==0.2.2
ipywidgets==7.7.0
jupyterlab-widgets==1.1.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.0
llvmlite==0.38.0
matplotlib==3.5.1
mistune==0.8.4
mpl-toolkits.clifford==0.0.3
netCDF4==1.5.8
npm==0.1.1
numba==0.55.1
numpy==1.21.5
opt-einsum==3.3.0
optional-django==0.1.0
pandas==1.4.1
Pillow==9.0.1
protobuf==3.19.4
pyarrow==7.0.0
pydeck==0.7.1
Pympler==1.0.1
pyparsing==3.0.7
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==302
PyYAML==6.0
requests==2.27.1
scipy==1.8.0
semver==2.13.0
smmap==5.0.0
soupsieve==2.3.1
sparse==0.13.0
sqlparse==0.4.2
streamlit==1.7.0
streamlit-bokeh-events==0.1.2
termcolor==1.1.0
toml==0.10.2
toolz==0.11.2
trimesh==3.10.5
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.9
validators==0.18.2
watchdog==2.1.6
webencodings==0.5.1
widgetsnbextension==3.6.0
wincertstore==0.2
